node_modules/
/node_modules
/dist
/.env
.kiro
./kiro
/.kiro
.env.*
.DS_Store
.vscode
_pycache__
__pycache__
debug.log
list_s3.mjs

npm-debug.log
yarn-error.log
.idea
coverage
.env
# Logs
logs
/ml/webrtc/data/webrtc_synthetic_20k.h5
webrtc_synthetic_20k.h5
*.log
